:root{
  --dark-blue: #03111F;
  --gray: #E6EDF1;
  --lightblue: #B6D9EF;
  --blue: #5B79B1;
  --red: #D93148;
  --green: #7EF997;
}

.fw-200{
  font-weight: 200;
}

body{
  overflow-x:hidden;
}

.text-bluec{
  color: var(--blue)!important;
}

.fs-1c{
  font-size: 4vw;
  line-height: 1.2em;
}

.fs-2c{
  font-size:2.5vw;
}

.fs-3c{
  font-size:1.7vw;
}


.fs-6c{
  font-size: 1.5vw;
}

a{
  text-decoration: none;
}

.rowMenu{
  position: fixed;
  width: 101vw;
  padding: 10px 40px;
  z-index:10;
}

.menuText{
  color:white;
  margin-bottom:30px;
  cursor:pointer;
  transition: 0.5s;
}

.menuText:hover{
  color: var(--lightblue);
  transition: 0.5s;
}

.menuIcon{
  width: 30px;
}

.logoMenu{
  height: 50px;
}

.btn:focus{
  box-shadow: 0 0 0 0 rgb(13 110 253 / 0%)!important;
}

.accordion-button:focus{
  box-shadow: 0 0 0 0 rgb(13 110 253 / 0%)!important;
}

.accordion-button:not(.collapsed)::after{
  background-image: url("assets/arrowDown.png")!important;
}

.accordion-button::after {
  background-image: url("assets/arrowDown.png")!important;
  width: 30px!important;
  height: 20px!important;
  background-size: 30px!important;
}


.readex{
  font-family: 'Readex Pro', sans-serif;
}

.screenDimension{
  width:101vw;
  min-height: 100vh;
}

.bg-darkblue{
  background-color: var(--dark-blue)!important;
}

.bg-gray{
  background-color: var(--gray)!important;
}

.bg-lightblue{
  background-color: var(--lightblue)!important;
}

.bg-blue{
  background-color: var(--blue)!important;
}

.rigaQuadrati{
  max-width: 95%;
}

.square{
  width: 40vw!important;
  height:40vw!important;
  border: 10px solid var(--lightblue);
  padding: 20px 30px;
  }

  .logoHover{
    position: absolute;
    width: 100vw;
    height: 700px;
    background-color: rgba(3, 17, 31, 0.8);
    /* border: 1px solid white; */
    transform: translate(0%, -12%);
    opacity: 0%;
    transition: 1s;
  }

  .logoHover:hover{
    opacity: 100%;
    transition: 1s;
  }

  .accordationTech{
    font-size: 2.3vw;
    color: white!important;
  }

  .modularSystemBg{
    background-image: url("assets/modularSystemImg.png");
    background-size: cover;
    transition: 0.5s;
  }

  .trackerBg{
    background-image: url("assets/trackerImg.png");
    background-size: cover;
    transition: 0.5s;
  }


  .guideBg{
    background-image: url("assets/guideImg.png");
    background-size: cover;
    transition: 0.5s;
  }

  .dimensionBg{
    background-image: url("assets/dimension.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .testBg{
    background-image: url("assets/test/00.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .feedbackBg{
    background-image: url("assets/test/00a.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .hero{
    background-image: url("assets/hero.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .bgMenu{
    box-shadow: 0px 0px 15px black;
    background-color: var(--dark-blue)
  }

  .bgModalMenu{
    background-color: rgba(3, 17, 31, 0.7);
    backdrop-filter: blur( 10px );
-webkit-backdrop-filter: blur( 10px );
  }


  .imgTech{
    height: 90vh;
  }

  .techFixed{
    position:fixed;
    transform: translate(0%, -50%);
    top: 50%;

  }

  .techInactive{
    display:none;
    opacity: 0;
    transition: 0.5s;
  }

  .techActive{
    display:flex;
    opacity: 1;
    transition: 0.5s;
  }

  .techText{
    position: absolute!important;
    width:35vw!important;
    top: 80%;
    min-height: 200px;
    right:20px;
    transform: translate(0, -50%);
  }


  .line{
    height:100%;
    width: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    height: 200px;
  }

  .lineActiveSensors{
    height:50px;
    width: 5px;
    background-color: white;
    border-radius: 50px;
    opacity:1;
    margin-left: -1px;
  }

  .lineActiveConnection{
    height:100px;
    width: 5px;
    background-color: white;
    border-radius: 50px;
    opacity:1;
    margin-left: -1px;
  }

  .colSquaresLeft{
    justify-content: flex-end;
  }

  .colSquaresright{
    justify-content:flex-start;
  }

  .videoStyle{
    width: 70vw;
    height: calc(70vw/16*9);
    border: 10px solid white;
  }

  .squareTeam{
    width:200px;
    height:200px;
    border:5px solid var(--lightblue);
  }


  .rowTeam{
    width: 1050px!important;
    margin:auto;
  }

  .bicpictureImg{
    position: absolute;
    width: 800px;
    opacity: 1;
    transition: 0.5s;
  }

  .bicpictureImgmvp{
    position: absolute;
    width: 800px;
    opacity: 1;
    transition: 0.5s;
  }

  .Connections{
    position: absolute;
    width: 800px;
    opacity: 1;
    transition: 0.5s;
  }

  .colBigpicture{
    min-height: 700px;
  }

  @keyframes pointerAnimation {
    0%{
      transform: translate(-50%, -50%)scale(130%);
    }
    50%{
      transform: translate(-50%, -50%)scale(150%);
    }
    100%{
      transform: translate(-50%, -50%)scale(130%);
    }
  }

  .pointer{
    background-color: rgba(182, 217, 239, 0.4);
    /* padding: 10px; */
    border-radius: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    cursor:pointer;
  }

  .pointer1:hover{
    background-color: rgba(126, 249, 151, 0.4)!important;
    transition: 0.5s;
  }

  .pointer1{
    width:70px;
    height:70px;
    transform: translate(-50%, -50%)scale(130%);
    animation-name: pointerAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  .pointer2{
    width:50px;
    height:50px;
    top: 50%;
    left: 50%;
  }

  .pointer3{
    width:20px;
    height:20px;
    top: 50%;
    left: 50%;
  }

  .pointer1mvp:hover{
    background-color: rgba(126, 249, 151, 0.4)!important;
    transition: 0.5s;
  }

  .pointer1mvp{
    width:70px;
    height:70px;
    transform: translate(-50%, -50%)scale(130%);
    animation-name: pointerAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  .pointer2mvp{
    width:50px;
    height:50px;
    top: 50%;
    left: 50%;
  }

  .pointer3mvp{
    width:20px;
    height:20px;
    top: 50%;
    left: 50%;
  }

  .bigpictureInactive{
    opacity:0.3!important;
    transition: 0.5s;
  }

  .connectionsInactive{
    opacity:0!important;
    transition: 0.5s;
  }

  .pointerActive{
    background-color: rgba(126, 249, 151, 0.4)!important;
    transition: 0.5s;
  }

  #pointerCalendar{
    margin-top: 250px;
    margin-left: 350px;
  }

  #pointerScanner{
    margin-top: 400px;
    margin-left: 320px;
  }

  #pointerCloud{
    margin-top: 130px;
    margin-left: 670px;
  }

  #pointerModules{
    margin-top: 320px;
    margin-left: 120px;
  }

  #pointerRouter{
    margin-top: 500px;
    margin-left:630px;
  }



  #pointerCalendarmvp{
    margin-top: 150px;
    margin-left: 600px;
  }

  #pointerScannermvp{
    margin-top: 650px;
    margin-left: 120px;
  }

  #pointerCloudmvp{
    margin-top: 520px;
    margin-left: 650px;
  }

  #pointerModulesmvp{
    margin-top: 220px;
    margin-left: 270px;
  }

  .userBg{
    background-image: url("assets/poster/poster01.png")!important;
    background-size: cover;
    transition: 0.5s;
  }

  .problemBg{
    background-image: url("assets/poster/poster02.png");
    background-size: cover;
    transition: 0.5s;
  }

  .solutionBg{
    background-image: url("assets/poster/poster03.png");
    background-size: cover;
    transition: 0.5s;
  }

  .relevantBg{
    background-image: url("assets/poster/poster04.png");
    background-size: cover;
    transition: 0.5s;
  }

  .storyboardImg{
    width:100%;
    border: 10px solid var(--lightblue);
  }

  .colStoryboard{
    padding: 20px 30px;
  }

  .rowStoryboard{
    padding: 0px 150px;
  }

  .slogan{
    position: absolute;
    width: 100vw;
    height: 700px;
    background-color: rgba(3, 17, 31, 0.8);
    /* border: 1px solid white; */
    transform: translate(0%, -12%);
  }

  .mvpInactive{
    opacity:0!important;
    transition: 0.5s;
  }

  .mvpBorder{
    border: 10px solid var(--lightblue);
  }




@media (max-width: 1200px) {

  .fs-1c{
    font-size: 7vw;
    line-height: 1.2em;
  }

  .fs-3c{
    font-size: 5vw;
    line-height: 1.2em;
  }

  .fs-6c{
    font-size: 3.5vw;
  }

  .rigaQuadrati{
    max-width: 75%;
  }

  .logoHover{
    opacity:1;
  }

  .screenDimension{
    min-height: 60vh;
  }

  .videoStyle{
    width: 90vw;
    height: calc(90vw/16*9);
  }

  .square{
    width: 90%!important;
    height:90vw!important;
    }

    .accordationTech{
      font-size: 5vw;
      color: white!important;
    }

    .accordion-button::after {
      width: 20px!important;
      height: 10px!important;
      background-size: 20px!important;
    }

    .imgTech{
      height: 50vh!important;
    }

    .techText{
      position: absolute;
      width:70vw!important;
      bottom: 0px;
      right:-25%;
      margin-top:150px;
      transform: translate(-50%, -50%);
      background-color: var(--dark-blue);
      min-height: 300px;
    }

    .menuIcon{
      width: 70px;
    }

    .logoMenu{
      height: 100px;
    }

    .rowMenu{
      padding: 30px 30px;
    }

    .squares{
      margin-top: 150px;
    }

    .colSquaresLeft{
      justify-content: center;
    }

    .colSquaresright{
      justify-content:center;
    }

    .squareMobile{
      padding: 200px 0px;
    }

    .rowStoryboard{
      padding: 0px 20px;
    }







}
